*.png
*.sqlite
*.pyc
**/*.pyc
*.log
*.rar
*.dat
~$*
*tmp
*.dat
*.shp
*.cpg
*.dbf
*.prj
*.html
*.shx
*.mat
*.nc
*.grb2
*.MD5
.vscode/*
.ipynb_checkpoints
__pycache__/
*.npz
*.qpj

#Reference papers
References/ 

#Data
KiteLF_Optimization/DataSetPlatform.mat
KiteLF_Optimization/DataSetSeabed.mat
KiteLF_Optimization/functions/DataSet1.mat
Wind_AE/WindEnergyNREL_100m_Haliade150_6MW.npz

#Delete
Organize/
PlotWind_Wave.ipynb