KiteLF_Optimization/DataSetPlatform.mat
KiteLF_Optimization/DataSetSeabed.mat
KiteLF_Optimization/functions/DataSet1.mat
Wind_AE/WindEnergyNREL_100m_Haliade150_6MW.npz
*.png
*.sqlite
*.pyc
**/*.pyc
*.log
*.rar
*.dat
~$*
*tmp
*.dat
*.npz
*.shp
*.cpg
*.dbf
*.prj
*.html
*.shx
